.vjs-quality-button .vjs-icon-placeholder {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal;
}
.vjs-quality-button .vjs-icon-placeholder:before {
  content: '\f10d';
}

.vjs-menu li {
  text-transform: none;
}
